<?xml version="1.0" encoding="utf-8" ?>
<log4net>

  <root>
    <level value="ALL" />
    <appender-ref ref="LogFileAppender" />
  </root>

  <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender" >
    <param name="File" value="log\log.txt" />
    <param name="AppendToFile" value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="10MB" />
    <layout type="LinkedListLoop.src.server.LogManager" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
  </appender>

</log4net>